.idea
.hgignore
index2.php
run.php
app.php
src/sites/.+/(files|s3)
src/sites/.+/settings.php
sql_backup
.*DS_Store$
syntax: glob
*nbproject*
*.metadata
*.settings
*.project
*.buildpath
*.orig
*.*~
src/sites/all/modules/contrib/drush